---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - sweeper.sweeper-sentinel.cloudflavor.io
  resources:
  - sweepersentinels
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sweeper.sweeper-sentinel.cloudflavor.io
  resources:
  - sweepersentinels/finalizers
  verbs:
  - update
- apiGroups:
  - sweeper.sweeper-sentinel.cloudflavor.io
  resources:
  - sweepersentinels/status
  verbs:
  - get
  - patch
  - update
